<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GeneralFunctionality">
  <test name="Regression">
    <classes>
      <class name="com.jhillanica.general.TestLoginPage"/>
    </classes>
  </test> <!-- Regression -->
</suite> <!-- GeneralFunctionality -->
